.row-striped:nth-of-type(odd) {
  background-color: #e0e0e0;
  border-left: 6px #000000 solid;
}

.row-striped:nth-of-type(even) {
  background-color: #c9c9e0;
  border-left: 6px #2f00ff solid;
}

.row-striped {
  padding: 15px 0;
}

@media only screen and (max-width: 768px) {
  .calendar-badge {
    font-size: 1.3rem;
  }
  .calendar-date {
    font-size: 0.75rem;
  }
}

@media (max-width: 575px) {
  .display-4 {
    font-size: 1.5rem;
  }
  .day h5 {
    background-color: #f8f9fa;
    padding: 3px 5px 5px;
    margin: -8px -8px 8px -8px;
  }
  .date {
    padding-left: 4px;
  }
}

@media (min-width: 576px) {
  .day {
    height: 14.2857vw;
  }
}
